@keyframes showNav {
    from {
        transform: translateY(-48px);
    }
    to {
        transform: translateY(0px);
    }
}
@keyframes showLogo {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}