//define base variables for easy customization
:root {
    //values
    --defaultCornerRadius: 4px;
    --defaultPadding: 6px;

    --NavBarHeight: 48px;

    --ViewWidth: 65%;
    --ViewMargin: 12px;
    --viewCornerRadius: calc(var(--defaultCornerRadius)*2);

    --viewTableHeight: 35px;

    //text
    --light: rgba(255, 255, 255, 0.8);
    --accent: #c5f51a;
    --dark: rgba(18, 18, 18, 0.9);
    //icons
    --glass: url("/images/icons/glassMaterial.png");
    //animations
    --cubicSnap: cubic-bezier(0, .68, .29, 1);

    --navbarGradient: linear-gradient(180deg, rgba(97, 97, 97, 0.5) 0%, rgba(56, 56, 56, 0.5) 50%, rgba(38, 38, 38, 1) 50%, rgba(0, 0, 0, 0.5) 100%);
    --navbarButtonGradient: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(168, 168, 168, 0.5) 50%, rgba(150, 150, 150, 0.5) 50%, rgba(84, 84, 84, 0.5) 100%);
    --navbarButtonActive: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(168, 168, 168, 0.5) 50%, rgba(150, 150, 150, 0.5) 50%, rgba(84, 84, 84, 0.5) 100%);
    --controlbarGradient: linear-gradient(180deg,rgba(217, 217, 217, 1) 0%, rgba(163, 163, 163, 1) 100%);;

}

//scss variables

%icon {
    background-repeat: no-repeat;
    background-size: contain;
}



// define background, make sure it always covers the entire screen
body {
    background-image: url("/images/fabric.webp");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100% - var(--NavBarHeight) - var(--ViewMargin) - 16px);
    margin: 0px;
    background-attachment: fixed;
    background-color: black;
    padding-bottom: 16px;
    padding-top: calc(var(--ViewMargin));
    :has(.mailHeader){
    padding-top: calc(var(--NavBarHeight) + var(--ViewMargin));
    }
}



html {
    height: 100%;
    margin: 0px;
}

//nav bar stuff
nav {
    user-select: none;
    -webkit-user-select: none;
    background: var(--navbarGradient);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    height: var(--NavBarHeight);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: showNav;
    animation-duration: 0.4s;
    animation-timing-function: var(--cubicSnap);
    backdrop-filter: blur(10px);
    z-index: 5;

    .mailDropdown {
        position: absolute;
        left: var(--ViewMargin);
        backdrop-filter: blur(3px);
        background-color: rgba(0, 0, 0, 0.5);
        padding: var(--defaultPadding);
        padding-left: calc(var(--defaultPadding)*2);
        color: rgba(255, 255, 255, 0.5);
        border-radius: 999px;
        height: 22px;
        line-height: 22px;
        border: 1px solid rgba(255, 255, 255, 0.192);
        border-bottom-color: rgba(108, 108, 108, 0.705);
        font-weight: 300;
        padding-right: 30px;
        transition: 0.1s;
        user-select: none;
        &::after{
            position: absolute;
            content: "";
            top: 13px;
            right: 12px;
            background-image: url("/images/icons/arrowFlatLight.png");
            background-position: center;
            background-size: contain;
            width: 8px;
            height: 8px;
            opacity: 0.5;
            transform: rotate(90deg);
        }
        &:hover{
            border: 1px solid #c5f51a;
        }
        &:active::after{
        transform: rotate(270deg);
        }
    }
}
.mailDropdownContainerList{
    display: none;
    position: absolute;
    top: 40px;
    left: var(--ViewMargin);
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: var(--defaultCornerRadius);
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.192);
    border-bottom-color: rgba(108, 108, 108, 0.705);
    width: max-content;
    min-width: 150px;
    div{
        padding: var(--defaultPadding);
        padding-left: calc(var(--defaultPadding)*2);
        color: rgba(255, 255, 255, 0.8);
        font-weight: 300;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        user-select: none;
        &:last-child{
            border-bottom: none;
        }
        &:hover{
            background-color: rgba(197, 245, 26, 0.1);
            cursor: pointer;
        }
    }

}
    .show{
        display: block;
    }
.search {
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.5);
    padding: var(--defaultPadding);
    width: 480px;
    border-radius: var(--defaultCornerRadius);
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.192);
    border-bottom-color: rgba(108, 108, 108, 0.705);

    &:has(input:focus) {
        animation: focusElement;
        animation-duration: 0.5s;
    }

    input {
        background-color: transparent;
        width: (calc(100% - 34px - (var(--defaultPadding))));
        height: 32px;
        margin-top: calc(0px - var(--defaultPadding));
        margin-bottom: calc(0px - var(--defaultPadding));
        margin-right: calc(0px - var(--defaultPadding));
        border: none;
        color: var(--light);
        font-weight: 300;
        font-size: 15px;

        &:focus {
            outline: none;
        }
    }

    .searchIcon {
        margin-top: calc(0px - var(--defaultPadding));
        margin-bottom: calc(0px - var(--defaultPadding));
        margin-right: calc(0px - var(--defaultPadding));
        height: 34px;
        width: 34px;
        background: var(--navbarButtonGradient);
        padding: 0px;
        float: right;
        border: none;
        border-left: 1px solid rgba(255, 255, 255, 0.09);

        &:active {
            background: var(--navbarButtonActive);
        }

        &::after {
            @extend %icon;
            background-image: var(--glass);
            width: 60%;
            height: 60%;
            display: block;
            margin: auto;
            content: "";
        }

        &:focus-visible {
            animation: focusSearch;
            animation-duration: 0.5s;
            outline: none;
        }
    }
}
.tag {
    background-color: rgba(0, 0, 0, 0);
    width: 9px;
    height: 9px;
    margin: auto;
    border-radius: 19px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4px;
    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        background-image: url("/images/icons/plusFlatLight.png");
    }

    //todo: tag colors


}
//mail table stuff
.mailContainer {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 5px black;
    min-height: 200px;
    width: var(--ViewWidth);
    border-radius: var(--viewCornerRadius);
    margin: auto;
    margin-top: calc(var(--NavBarHeight));
    margin-bottom: var(--ViewMargin);
    overflow: hidden;

    table {
        width: 100%;
        table-layout: fixed;
        color: var(--light);
        border-collapse: collapse;
    }

    td {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        height: var(--viewTableHeight);
        line-height: var(--viewTableHeight);
    }

    tr {
        &:hover {
            background-color: rgba(0, 0, 0, 0.3);
        }

        user-select: none;
        -webkit-user-select: none;
        filter: grayscale(100%);
        border-bottom: 1px solid rgba(255, 255, 255, 0.178);

        &:last-child {
            border-bottom: none;
        }

        &:focus-visible {
            background-color: rgba(0, 0, 0, 0.3);
            box-shadow: inset 0px 1px 1px var(--accent), -1px 1px var(--accent);
            filter: none;
            // border-bottom: 1px solid #c5f51a;
            outline: none;
        }
    }

    #tag {
        background-color: rgba(255, 0, 0, 0);
        width: 24px;
    }

    #from {
        width: 10%;
    }

    #title {
        font-weight: 400;
        padding-right: var(--defaultPadding);
        color: var(--light);
    }

    #content {
        font-weight: 200;
        color: rgba(255, 255, 255, 0.5);
    }

    #date {
        width: 50px;
        text-align: right;
        padding-right: calc(var(--defaultPadding)*2);
    }
}
.mailDisplay{
    background-color: rgb(255, 255, 255);
    // box-shadow: inset 0px 1px 5px black !important;
    padding: 0px;
    min-height: 200px;
    width: var(--ViewWidth);
    border-bottom-left-radius: var(--viewCornerRadius);
    border-bottom-right-radius: var(--viewCornerRadius);
    margin: auto;
    margin-bottom: var(--ViewMargin);
    overflow: auto;
    z-index: 2;
    color: var(--dark);
}
.mailHeader{
    margin: auto;
    background-color: rgb(203, 203, 203);
    background: var(--navbarGradient);
    padding: 0px;
    height: 42px;
    // line-height: 42px;
    border-top-left-radius: var(--viewCornerRadius);
    border-top-right-radius: var(--viewCornerRadius);
    width: var(--ViewWidth);
    border: 1px solid rgb(255, 255, 255, 0.3);
    border-top-color: rgba(255, 255, 255, 0.5);
    outline: 1px solid rgba(0, 0, 0, 0.5);
    font-weight: 200;
    color: var(--light);
    text-shadow: rgb(0, 0, 0) 0px 1px 2px;
    text-align: center;
    display: flex;
    justify-content: left;
    align-items: center;
    button{
        @extend %icon;
        height: 24px;
        width: 30px;
        margin-left: 8px;
        background: none;
        border: transparent solid 1px;
    //     border: 1px solid rgb(255, 255, 255, 0.3);
    //     border-top-color: rgba(255, 255, 255, 0.5);
    // backdrop-filter: blur(3px);
    // background-color: rgba(0, 0, 0, 0.5);
        border-radius: var(--defaultCornerRadius);
        background-position: center;
        background-size: 12px;
        background-repeat: no-repeat;
        &.back{
            background-image: url("/images/icons/arrowFlatLight.png");
            transform: rotate(180deg);
            background-size: 10px;
        }
        &.user{
            background-image: url("/images/icons/userFlatLight.png");
        }
        &.mail{
            background-image: url("/images/icons/envelopeFlatLight.png");
            background-size: 14px;

        }
        opacity: 0.7;
    }
    button:hover{
        border: rgba(255, 255, 255, 0.2) solid 1px;
        background-color: rgba(255, 255, 255, 0.1);
    }
    button:active{
        border-color: var(--accent);
        background-color: #c6f51a55;
    }
    .title{
        height: 42px;
        line-height: 42px;
        overflow: auto;
    }
    .separator{
        height: 42px;
        width: 0px;
        border-left: 1px solid rgb(255, 255, 255, 0.3);
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        margin-left: 8px;
        margin-right: 8px;
    }
    .tag{
        margin: 0;
        margin-left: 8px;
        backdrop-filter: blur(3px);
    }
}

.mailAttachments{
    max-width: 65%;
    overflow: auto;
    display: flex;
    margin: 0px auto;
    gap: 10px;
    background-color: #ffffffa2;
    // padding-top: 8px;
    // padding-bottom: 8px;
}
.Attachment{
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;

    padding: 0px;
    height: 21px;
    line-height: 21px;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: rgba(255, 255, 255, 0.261);
    border: #000000 1px solid;
    display: block;
    border-radius: 32px;
    font-size: 14px;
    
  span {
    white-space: nowrap;
    display: block;
}
}

//footer and stuff
.pageEnd {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 20px;
    color: rgb(23, 23, 23);
    text-shadow: 0px 1px 0px rgb(108, 108, 108);
    font-weight: 600;
    padding-bottom: var(--ViewMargin);
    user-select: none;
}

//enrollment

.addMailboxContainer{
    width: 480px;
    height: 320px;
    margin: auto;
    margin-top: calc(var(--NavBarHeight) + var(--ViewMargin)*4);
    // background-color: rgba(136, 136, 136, 0.173);
    // border-radius: calc(var(--viewCornerRadius)/2);
    border-radius: 16px;
    border: 1px solid rgb(255, 255, 255, 0.3);
    border-top-color: rgba(255, 255, 255, 0.5);
    // border: 1px solid var(--accent);
    outline: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.74) 0px 0px 150px, black 0px 0px 10px;
    .brand{
        display: block;
        margin: auto;
        margin-top: 20px;
        font-size: 42px;
        text-align: center;
        color: rgba(39, 39, 39, 1);
        text-shadow: 0px 1px 0px rgba(147, 147, 147, 1);
        user-select: none;
        -webkit-user-select: none;
    }
    button{
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 150px;
        height: 25px;
        border-radius: var(--defaultCornerRadius);
        border: 1px solid black;
        background: var(--navbarGradient);
        color: white;
        margin-bottom: 8px;
        transition: 0.1s;
        position: relative;
        overflow: hidden;
        z-index: 1;
        &::before{
                    transition: 0.1s;

                z-index: -1;
                content: "";
                background-color: #c6f51a00;
                width: 100%;
                height: 100%;
                // display: block;
                position: absolute;
                top: 0;
                left: 0;
            }

        &:active{
            border-color: #a4be43ff;
            // background: linear-gradient(180deg, rgba(35, 35, 35, 0.5) 0%, rgba(26, 26, 26, 0.5) 50%, rgba(21, 21, 21, 1) 50%, rgba(0, 0, 0, 0.62) 100%) !important;
                &::before{
                background-color: #c6f51a15;
            }
            color: #f4ffcbff;
        }
        &:hover{
            background: linear-gradient(180deg, rgba(59, 59, 59, 0.5) 0%, rgba(40, 40, 40, 0.5) 50%, rgba(31, 31, 31, 1) 50%, rgba(0, 0, 0, 0.5) 100%);
        }
    }

    #hr{
        margin-top: 8px;
        height: 1px;
        width: 100000px;
        background: rgba(74, 74, 74, 1);
    }
    #hrbox{
        display: flex;
        width:100%;
        justify-content: center;
        white-space: nowrap;
        
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #hrboxmain{
        color: rgba(48, 48, 48, 1);
        text-shadow: 0px 1px 0px rgba(190, 190, 190, 0.42);
        margin-left: 6px;
        margin-right: 6px;
    }
}


// Eksperyment

.mail-body * {
    all: initial;
    font-family: inherit;
}